
body, td {
  font-family: helvetica;
}

/* For modern browsers */
.container:before,
.container:after {
    content:"";
    display:table;
}
.container:after {
    clear:both;
}
/* For IE 6/7 (trigger hasLayout) */
.container {
    zoom:1;
}

.welcome {
  font-size: 13px;
}

table {
  margin: 30px;
}

th {
  vertical-align: top;
}

td {
  text-align: center;
  padding: 10px;
}

td[data-field="twitter.profile_image_url"] img {
  width: 48px;
  height: 48px;
}

.user-list, .app-list {
  float: left;
  width: 40%;
  padding-right: 20px;
}

.STOPPED {
  color: red;
}

.STARTED {
  color: green;
}

