<html>
<head>
  <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
<h1>glue.stacka.to</h1>

{% if not user_id %}
<a href="/login">Login</a>
{% else %}

<p class="welcome">Hello {{ user_id }}. <a href="/logout">Logout</a>

<div class="columns clearfix">
    <div class="app-list"></div>
    <div class="user-list"></div>
</div>


</body>

<script type="text/template" data-name="user-list">
<div class="user-list">
  <h2>Who's Here?</h2>
  <% if (total == 0) { %>
    Nobodies here.
  <% } else { %>
    <table>
      <% _.each(list, function(user) { %>
        <tr data-twitter-screen-name="<%= user.twitter.screen_name %>" data-twitter-name="<%= user.twitter.name %>">
          <td data-field="twitter.profile_image_url"><a href="http://twitter.com/intent/user?screen_name=<%= user.twitter.screen_name %>" target="_twitter"><img src="<%= user.twitter.profile_image_url %>"></a></td>
          <td data-field="twitter.screen_name"><a href="http://twitter.com/intent/user?screen_name=<%= user.twitter.screen_name %>" target="_twitter"><%= user.twitter.screen_name %></a></td>
          <td data-field="twitter.name"><a href="http://twitter.com/intent/user?screen_name=<%= user.twitter.screen_name %>" target="_twitter"><%= user.twitter.name %></a></td>
        </tr>
      <% }) %>
    </table>
  <% } %>
</div>
</script>

<script type="text/template" data-name="app-list">
<div class="app-list">
  <h2>Cluster Apps</h2>
  <% _.each(clusters, function(apps, endpoint) { %>
    <h3><%= endpoint %></h3>
    <% if (apps.length == 0) { %>
      No apps deployed.
    <% } else { %>
      <table>
        <% _.each(apps, function(app) { %>
          <tr>
            <td>
              <a href="http://<%= app.uris[0] %>" target="_app"><%= app.name %></a><br>
            </td>
            <td><%= app.state %></td>
          </tr>
        <% }) %>
      </table>
    <% } %>
  <% }) %>
</div>
</script>

<script src="/static/js/libs/jquery/jquery.min.js"></script>
<script src="/static/js/libs/jquery.json-2.3.min.js"></script>
<script src="/static/js/libs/underscore/underscore.min.js"></script>
<script src="/static/js/templates.js"></script>
<script src="/static/js/main.js"></script>

{% end %}

</html>
